<html>
  <head>
    <title>Student Details</title>
    <link rel="stylesheet" href="/style_c.css">
  </head>
  <body>
    <h1>Students</h1>
    <form method="POST" class="student-form">
      <label for="name">Name</label>
      <input type="text" name="name" required/>
      <label for="school">School</label>
      <input type="text" name="school" required />
      <button type="submit">Add new student</button>
    </form>
  </body>
</html>
