<!-- 
    This is the home page for the EPF Book.  It is a simple page that
    just print hello world.
 -->

<!--<%inherit file="base.html" />  inherit from base.html  --> 
 
<html>
    <head>
        <title>Students</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Students</h1>
    </body>
</html>


 