
<html>
  <head>
    <title>Student Details</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Student Details</h1>
    <ul>
      <li>Name: <%= student.name %></li>
      <li>School: <%= student.school %></li>
    </ul>
  </body>
</html>